<div class="py-12 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
    </div>

    <div class="flex justify-center">   
        <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
            {{#each briefs as |brief|}}
                {{> briefsCard}}
            {{/each}}
        </div>
    </div>
  </div>
</div>
